<h1>Listing images</h1>

<table>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Description</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render "shared/images" %>

</table>

<br />
<%= link_to 'Category', categories_path %>
<%= link_to 'New Image', new_image_path %>
