<h1>Add new picture</h1>

<%= form_for @pic do |f| %>
  
  <p>Title:<br/> <%= f.text_field:title %></p>
  <p>Description:<br/> <%= f.text_area:description %></p>

  <p><%= f.submit "Add picture" %></p>
  
<% end %>
